<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <h1 align="center">Hello 👋, I'm Jelili</h1>

    <p align="center">You can contact me on any of the below links</p>

    <p align="center">
      <a href="mailto:jelilio.adesina@gmail.com">
        <img
          src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white&link=mailto:jelilio.adesina@gmail.com"
        />
      </a>

      <a href="https://www.linkedin.com/in/jeliliadesina">
        <img
          src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white&link=https://www.linkedin.com/in/jeliliadesina"
        />
      </a>

      <a
        href="https://stackoverflow.com/users/2024658/jelil-adesina?tab=profile"
      >
        <img
          src="https://img.shields.io/badge/Stack_Overflow-FE7A16?style=for-the-badge&logo=stack-overflow&logoColor=white&link=https://stackoverflow.com/users/2024658/jelil-adesina?tab=profile"
        />
      </a>
    </p>
  </body>
</html>
