<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Jelili</title>
  </head>
  <body>
    <h1 align="center">Hello 👋, I'm Jelili</h1>

    <p align="center">
      A 🏄 software developer from
      <a href="https://goo.gl/maps/EJxjembNb2aEdYp5A">Lagos, Nigeria</a> but
      living in Ireland.
    </p>

    <p align="center">
      <a href="/contact-me"> My Contacts </a>
    </p>
  </body>
</html>
